:root {
  --nav-bar-width: 200px;
}

.app-grid {
  display: grid;
  height: 100vh;
  grid-template-columns: var(--nav-bar-width) 1fr;
  grid-template-rows: calc(100vh - 50px) 50px;
  grid-template-areas: "nav main" "footer footer";
}

@media screen and (max-width: 500px) {
  .app-grid {
    grid-template-columns: 0px 1fr;
  }

  .side-nav {
    transform: translateX(calc(var(--nav-bar-width) * -1));
  }
}

.artist-figure {
  position: relative;
  isolation: isolate;
}

.artist-figure::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgb(255, 255, 255, 0.6);
  z-index: -1;
  transition: inset 0.32s ease;
  border-radius: 0.5rem;
}

.artist-figure:hover::before {
  inset: -4px;
}

.grid-footer {
  grid-area: footer;
}

.flow > * + * {
  margin-top: 1rem;
}

.flow-large > * + * {
  margin-top: 2rem;
}

.section-main {
  grid-area: main;
}

.side-nav {
  width: var(--nav-bar-width);
  height: calc(100vh - 50px);
}

.side-nav :is(a, .title) {
  padding: 0.4rem 0.8rem;
  border-radius: 0.6rem;
}

.side-nav a:hover {
  background-color: rgba(51, 65, 96, 0.32);
  color: rgb(249 115 22);
}

.spring-into-view {
  opacity: 0.2;
  transform: translateY(4rem) scale(0.5);
  animation: spring 0.8s ease;
  animation-fill-mode: forwards;
}

.image-placeholder {
  background-image: linear-gradient(to top right, rebeccapurple, orangered);
  opacity: 1;
  /* animation: pulse 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
}

.image-placeholder.out {
  animation: fade-out 0.5s ease forwards;
}

@keyframes pulse {
  from {
    filter: brightness(0.6);
  }
  to {
    filter: brightness(1);
  }
}

@keyframes fade-out {
  to {
    opacity: 0;
  }
}

@keyframes spring {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
